* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Microsoft Yahei";
    outline: none;
}

.w1 {
    font-style: 2rem;
}

.w2 {
    font-size: 1.5rem;
}


.f {
    width: 100%;
    display: flex;
    align-items: center;
}

.fd {
    flex-direction: column;
}

.fb {
    justify-content: space-between;
}

.fa {
    justify-content: center;
}

.fw {
    flex-wrap: wrap;
}

.i4 {
    width: 1.5rem;
    height: 1.5rem;
}

.b1 {
    padding: .4rem .6rem;
    background-color: dodgerblue;
    color: white;
    border-radius: .5rem;
    border: none;
}











.box {
    width: 4rem;
    height: 5rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;

    .imgBox {
        /* padding: 0.6rem; */
        border-radius: 20%;
        background-color: white;
        border: 1px solid #aaa;

        img {
            width: 3.7rem;
            height: 3.7rem;
        }
    }

    .text {
        font-weight: bolder;
    }
}

.box:first-child {
    margin-left: 0;
}